In [ ]:
import pandas as pd
import numpy as np
import QUANTAXIS as QA

In [ ]:
stocklist_all=['600718']

In [ ]:
data = QA.QA_fetch_stock_day_adv(stocklist_all,'2018-01-01','2020-11-30').data

In [ ]:
ch= data.close[-1] * 1.1
cl= data.close[-1] * 0.9

In [ ]:
data.close[-1]

In [ ]:
df2=pd.concat([QA.MA(data.close, x) for x in (5,10,20,30,60,90,120,250) ], axis = 1).dropna()[-1:]
df2.columns = [u'm5',u'm10',u'm20',u'm30',u'm60',u'm90',u'm120', u'm250']

In [285]:
df_h = df2.apply(lambda x:x.max() <= ch,  axis = 1 )
df_l = df2.apply(lambda x:x.min() >= cl,  axis = 1 )

In [290]:
df2['dfh'] = df_h

In [292]:
df2['dfl'] = df_l

In [293]:
df2

,,m5,m10,m20,m30,m60,m90,m120,m250,dfh,dfl
date,code,,,,,,,,,,
2020-04-07,600718,11.516,11.806,12.155,12.890333,12.686333,12.168778,11.891417,12.1796,False,True

In [ ]:
aa = df2.iloc[-1:]

In [ ]:
ma = df2.iloc[-1:].apply(lambda x:x.max() < 12,  axis = 1 )

In [ ]:
mb = df2.iloc[-1:].apply(lambda x:x.min() > 12.5,  axis = 1 )

In [ ]:
aa['ma'] = ma

In [ ]:
aa['mb'] = mb

In [ ]:
aa

In [ ]:
cc=aa.append(bb).apply(lambda x : x == True)

In [ ]:
cc.apply(lambda x : x)

In [ ]:
exp1= lambda x:x+1 if  x>1 else x-1 if x < -4 else 0

In [ ]:
exp1(-5)

In [ ]:
aa=df2.iloc[-2:-1] #.apply(lambda x: True if x>11 and x < 12 else False, axis=1)

In [ ]:
aa

In [ ]:
type(aa)

In [ ]:
pd.DataFrame(aa)

In [ ]:
df2.m5.apply(lambda x: True if x>20 else False)

In [ ]:
df2.apply(lambda x: True if x>0 else False, axis=1)