In [ ]:
# 一、选股,股池：
# (聚宽上我还没实现股池管理)
# 1、每日全市场选股入股池:
# (1)剔除st,退市、前一交易日停牌的股
# (2)选股条件：
# 连续三日缩量，当日量小于五日十日十五日均量
# (3)若标的已在股池中，选股日期设置为最新日期
# (4)每日清除在股池中超过5个交易日的标的
# 二、买入：
# 1、股池中符合买入条件:
# (1)当日量大于前一日量
# (2)当日量大于五日十日十五日均量
# (3)当日收盘价大于开盘价
# (4)当日KDJ金叉
# (5)买入前以换手及五日平均换手排序，换手大者优先买入(聚宽上我还没实现)
# (6)大盘23个交易日内出现macd死叉不买(刚想到，聚宽上我还没实现)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:

def FILTERx(COND, N):

    k1 = pd.Series(np.where(COND, 1, 0), index=COND.index)
    idx = k1[k1 == 1].index.codes[0]
    needfilter = pd.Series(idx, index=idx)
    afterfilter = needfilter.diff().apply(lambda x: False if x > N else True)
    k1.iloc[afterfilter[afterfilter].index] = 2
    return k1.apply(lambda x: 1 if x == 2 else 0)

In [58]:
def select1(data):
    # 连续三日缩量
    ch= data.close * 1.1
    cl = data.close * 0.9
#     m5 = QA.MA(data.close, 5)
#     m10 = QA.MA(data.close, 10)
#     m20 = QA.MA(data.close, 20)
#     m30 = QA.MA(data.close, 30)
#     m60 = QA.MA(data.close, 60)
#     m90 = QA.MA(data.close, 90)
#     m120 = QA.MA(data.close, 120)
#     m250 = QA.MA(data.close, 250)
#     m500 = QA.MA(data.close, 5)
#     m750 = QA.MA(data.close, 5)
#     m900 = QA.MA(data.close, 5)
    
    MA_N = [QA.MA(data.close, x) for x in (5,10,20,30,60,90,120,250) ]
    t22 = pd.concat([QA.MA(data.close, x) for x in (5,10,20,30,60,90,120,250) ], axis = 1)
#     print(MA_N)
    
#     #当日量小于五日十日十五日均量
    t2 = pd.concat([QA.MA(data.volume.shift(1), x)-data.volume.shift(1) for x in [5,10,15]],axis=1).dropna().min(axis=1).apply(lambda x: True if x>0 else False)
#     t3 = pd.concat([t1,t2], sort=False, axis=1).all(axis=1)
#     res =t3.rolling(6).sum().apply(lambda x: True if x <6 and x>0 else False)
# #     #print(res)
    
    
#     x1 = data.volume.diff()>0
#     x2 = pd.concat([QA.MA(data.volume, x)-data.volume for x in [5,10,15]],axis=1).dropna().min(axis=1).apply(lambda x: True if x<0 else False)
#     x3 = data.close > data.open
    
#     kdj  = QA.QA_indicator_KDJ(data)
#     x4 = QA.CROSS(kdj.KDJ_K, kdj.KDJ_D).apply(lambda x: True if x==1 else False)
    
#     #xx = pd.concat([x1, x2, x3,x4], sort = False, axis=1 ).all(axis=1)
    
    
    return pd.DataFrame({
#         't1': t1,
#         't2': t2,
#         't3': t3,
        'm5': MA_N[0],
        'm10':  MA_N[1],
        'm20':  MA_N[2],
        'm30':  MA_N[3],
        'm60':  MA_N[4],
        'm90':  MA_N[5],
        'm120':  MA_N[6],
        'm250':  MA_N[7],
        't2':t2,
#         'man':MA_N
    })

In [ ]:
#QA.QA_fetch_stock_block_adv().get_block('上证50').code

In [ ]:
import QUANTAXIS as QA

In [ ]:
stock_list = QA.QA_fetch_stock_block_adv().get_block('中小300').code

In [ ]:
stock_list = QA.QA_fetch_stock_list_adv()

In [ ]:
stocklist_all = stock_list[~stock_list.name.apply(lambda x: 'ALL-ST' in x)].code.tolist()

In [ ]:
stocklist_all=stocklist_all[1:2]

In [ ]:
#blockname=QA.QA_fetch_stock_block_adv().block_name

In [ ]:
data = QA.QA_fetch_stock_day_adv(stocklist_all,'2000-01-01','2020-11-30')

In [ ]:
data.selects('000002','2018-06-10').data

In [ ]:
# = QA.QA_fetch_stock_day_adv('000001','2019-07-01','2019-09-30')

In [ ]:
#data.selects('600532','2008-05-28','2008-06-10').data

In [59]:
ind = data.add_func(select1)
ind

,,m5,m10,m20,m30,m60,m90,m120,m250,t2
date,code,,,,,,,,,
2000-01-04,000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06,000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07,000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-10,000002,10.656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-11,000002,10.764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-12,000002,10.848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-13,000002,10.834,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-14,000002,10.642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-17,000002,10.426,10.541,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-18,000002,10.258,10.511,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-19,000002,10.186,10.517,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-20,000002,10.154,10.494,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-21,000002,10.164,10.403,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-24,000002,10.070,10.248,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-25,000002,10.126,10.192,NaN,NaN,NaN,NaN,NaN,NaN,False
2000-01-26,000002,10.134,10.160,NaN,NaN,NaN,NaN,NaN,NaN,False
2000-01-27,000002,10.114,10.134,NaN,NaN,NaN,NaN,NaN,NaN,True
2000-01-28,000002,10.208,10.186,NaN,NaN,NaN,NaN,NaN,NaN,False
2000-02-14,000002,10.526,10.298,10.4195,NaN,NaN,NaN,NaN,NaN,False
2000-02-15,000002,10.714,10.420,10.4655,NaN,NaN,NaN,NaN,NaN,False
2000-02-16,000002,10.922,10.528,10.5225,NaN,NaN,NaN,NaN,NaN,False
2000-02-17,000002,11.346,10.730,10.6120,NaN,NaN,NaN,NaN,NaN,False
2000-02-18,000002,11.656,10.932,10.6675,NaN,NaN,NaN,NaN,NaN,False
2000-02-21,000002,12.022,11.274,10.7610,NaN,NaN,NaN,NaN,NaN,False
2000-02-22,000002,12.274,11.494,10.8430,NaN,NaN,NaN,NaN,NaN,False
2000-02-23,000002,12.628,11.775,10.9675,NaN,NaN,NaN,NaN,NaN,False
2000-02-24,000002,12.782,12.064,11.0990,NaN,NaN,NaN,NaN,NaN,False
2000-02-25,000002,12.916,12.286,11.2360,NaN,NaN,NaN,NaN,NaN,True
2000-02-28,000002,12.950,12.486,11.3920,11.108333,NaN,NaN,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...
2020-02-24,000002,29.470,29.668,29.0405,29.799000,29.604500,28.658778,28.135667,28.39148,False
2020-02-25,000002,29.396,29.693,29.0135,29.726333,29.643167,28.686778,28.153750,28.39904,False
2020-02-26,000002,29.488,29.796,29.0585,29.671333,29.667500,28.720000,28.180000,28.41328,False
2020-02-27,000002,29.452,29.768,29.0365,29.604333,29.689500,28.752222,28.206833,28.42316,False
2020-02-28,000002,29.520,29.647,29.0670,29.517333,29.716000,28.780222,28.232417,28.43340,False
2020-03-02,000002,29.966,29.718,29.2920,29.506333,29.771500,28.822222,28.270583,28.44740,False
2020-03-03,000002,30.320,29.858,29.4660,29.487000,29.828167,28.868222,28.313333,28.46400,False
2020-03-04,000002,30.750,30.119,29.6970,29.516000,29.898333,28.919556,28.367167,28.48516,True
2020-03-05,000002,31.276,30.364,29.9170,29.576333,29.970000,28.974444,28.420583,28.50080,False
2020-03-06,000002,31.584,30.552,30.0985,29.596333,30.025833,29.022778,28.465833,28.51416,True
2020-03-09,000002,31.468,30.717,30.1925,29.599333,30.071667,29.066000,28.497917,28.52432,True
2020-03-10,000002,31.408,30.864,30.2785,29.630333,30.120667,29.108556,28.532083,28.53556,True
2020-03-11,000002,31.032,30.891,30.3435,29.669333,30.157500,29.147444,28.561167,28.54292,True
2020-03-12,000002,30.562,30.919,30.3435,29.664000,30.191667,29.183889,28.585167,28.54392,True
2020-03-13,000002,30.226,30.905,30.2760,29.679667,30.215833,29.215000,28.603583,28.54196,True
2020-03-16,000002,29.824,30.646,30.1820,29.743333,30.224833,29.237333,28.617167,28.53820,False
2020-03-17,000002,29.286,30.347,30.1025,29.759667,30.224167,29.251556,28.619917,28.53636,True
2020-03-18,000002,28.470,29.751,29.9350,29.715000,30.171667,29.245333,28.612333,28.53196,False
2020-03-19,000002,27.526,29.044,29.7040,29.626000,30.084667,29.227000,28.599083,28.52308,False
2020-03-20,000002,26.796,28.511,29.5315,29.569333,30.009500,29.217556,28.589583,28.51648,False
2020-03-23,000002,25.998,27.911,29.3140,29.432000,29.901500,29.195111,28.571417,28.50344,False
2020-03-24,000002,25.356,27.321,29.0925,29.292667,29.788500,29.174667,28.555583,28.49320,True
2020-03-25,000002,25.396,26.933,28.9120,29.206667,29.713333,29.176000,28.558500,28.48692,False
2020-03-26,000002,25.590,26.558,28.7385,29.081667,29.643667,29.175111,28.559083,28.47424,False
2020-03-27,000002,25.744,26.270,28.5875,28.940667,29.581667,29.179333,28.563667,28.46392,True
2020-03-30,000002,26.042,26.020,28.3330,28.794667,29.497000,29.175444,28.562167,28.44996,True
2020-03-31,000002,26.192,25.774,28.0605,28.659667,29.407833,29.166111,28.559250,28.43436,True
2020-04-01,000002,26.218,25.807,27.7790,28.559000,29.325500,29.168444,28.565333,28.42412,True
2020-04-02,000002,26.354,25.972,27.5080,28.460000,29.237167,29.170222,28.569667,28.41900,False
2020-04-03,000002,26.394,26.069,27.2900,28.377333,29.140667,29.171556,28.569417,28.41292,True

In [ ]:
ind

In [ ]:
x1 = ind.query('res==True').loc[:,['x1','x2','x3','x4']].all(axis=1).groupby(level=1).shift()

In [ ]:
x1[x1==True]

In [ ]:
ind.loc['2008-04-22':'2008-06-19']