In [1]:
import os
import struct
import pandas as pd
import numpy as np

In [2]:

def readTdxLdayFile(fname="sh000001.day"):
  dataSet=[]
  with open(fname,'rb') as fl:
    buffer=fl.read() #读取数据到缓存
    size=len(buffer) 
    rowSize=32 #通信达day数据，每32个字节一组数据
    code=os.path.basename(fname).replace('.day','')
    for i in range(0,size,rowSize): #步长为32遍历buffer
      row=list( struct.unpack('IIIIIfII',buffer[i:i+rowSize]) )
      row[1]=row[1]/100
      row[2]=row[2]/100
      row[3]=row[3]/100
      row[4]=row[4]/100
      row.pop() #移除最后无意义字段
      row.insert(0,code)
      dataSet.append(row) 

  data=pd.DataFrame(data=dataSet,columns=['code','tradeDate','open','high','low','close','amount','vol'])
#   data=data.set_index(['tradeDate'])
  return data

In [21]:
df=readTdxLdayFile()
df['mon'] = df.tradeDate.apply(lambda x : str(x)[0:6])
df=df.set_index(['tradeDate'])

In [23]:
dfmax=df.groupby(['mon']).apply(lambda x: x[x.high ==x.high.max()])
dfmax.drop_duplicates(subset=['high','mon'],keep='first',inplace=True)
dfmin=df.groupby(['mon']).apply(lambda x: x[x.low ==x.low.min()])
dfmin.drop_duplicates(subset=['low','mon'],keep='first',inplace=True)

In [10]:
dfmax.to_csv('max.csv')

In [6]:
dfmin.to_csv('min.csv')

In [25]:
dfmax

,,code,open,high,low,close,amount,vol,mon
mon,tradeDate,,,,,,,,
199012,19901231,sh000001,126.56,127.61,126.48,127.61,6.000000e+04,78,199012
199101,19910114,sh000001,134.11,135.19,134.11,134.67,6.883000e+06,12530,199101
199102,19910222,sh000001,134.85,134.87,134.28,134.87,2.003000e+06,3427,199102
199103,19910301,sh000001,132.53,132.53,132.47,132.53,3.777000e+06,7124,199103
199104,19910404,sh000001,122.20,122.20,121.24,121.72,5.045000e+06,10517,199104
199105,19910531,sh000001,114.83,114.83,113.84,114.83,1.470000e+06,1211,199105
199106,19910628,sh000001,137.41,137.56,136.19,137.56,3.032000e+06,4935,199106
199107,19910731,sh000001,143.72,143.80,142.39,143.80,1.993000e+06,4051,199107
199108,19910830,sh000001,178.20,178.43,176.66,178.43,4.219000e+06,6759,199108
199109,19910917,sh000001,191.16,191.18,188.28,188.65,1.862300e+07,28829,199109
199110,19911031,sh000001,218.59,218.60,216.43,218.60,2.914000e+06,3929,199110
199111,19911129,sh000001,259.68,259.85,257.35,259.60,2.845300e+07,33695,199111
199112,19911231,sh000001,292.48,292.75,291.71,292.75,8.580000e+05,584,199112
199201,19920131,sh000001,313.24,313.24,312.73,313.24,5.860000e+05,354,199201
199202,19920228,sh000001,364.15,364.67,362.45,364.66,2.640100e+07,9862,199202
199203,19920331,sh000001,381.87,382.06,381.24,381.24,5.385300e+07,17391,199203
199204,19920430,sh000001,435.73,448.94,433.66,445.38,5.258700e+07,45704,199204
199205,19920526,sh000001,1332.39,1429.01,1291.00,1301.35,1.494480e+08,68128,199205
199206,19920601,sh000001,1175.69,1249.58,1129.28,1183.24,1.053660e+08,39394,199206
199207,19920706,sh000001,1197.76,1215.24,1190.27,1201.01,1.957800e+08,63782,199207
199208,19920803,sh000001,1034.70,1060.36,1026.83,1031.55,7.375400e+07,60103,199208
199209,19920901,sh000001,826.96,832.84,807.37,824.96,8.752900e+07,78694,199209
199210,19921012,sh000001,687.45,713.77,661.99,690.57,1.496600e+08,110752,199210
199211,19921126,sh000001,674.74,752.32,562.01,562.01,4.511840e+08,387633,199211
199212,19921204,sh000001,833.23,841.02,807.02,807.02,4.616150e+08,305753,199212
199301,19930129,sh000001,1156.84,1198.48,1140.24,1198.48,8.159540e+08,520097,199301
199302,19930216,sh000001,1555.15,1558.95,1504.36,1513.48,1.218624e+09,493707,199302
199303,19930301,sh000001,1328.22,1339.10,1199.73,1199.73,8.911070e+08,425901,199303
199304,19930429,sh000001,1377.04,1392.62,1348.38,1349.68,1.042873e+09,502554,199304
199305,19930503,sh000001,1365.15,1380.50,1349.98,1352.24,1.211643e+09,595189,199305
...,...,...,...,...,...,...,...,...,...
201701,20170110,sh000001,3167.57,3174.58,3157.33,3161.67,1.949632e+11,179759216,201701
201702,20170223,sh000001,3258.83,3264.08,3236.36,3251.38,2.368226e+11,209179800,201702
201703,20170327,sh000001,3268.92,3283.24,3262.12,3266.96,2.491855e+11,201852675,201703
201704,20170407,sh000001,3280.62,3295.19,3275.05,3286.62,2.667383e+11,236108942,201704
201705,20170502,sh000001,3147.23,3154.78,3136.54,3143.71,1.763899e+11,154222962,201705
201706,20170627,sh000001,3183.42,3193.46,3172.46,3191.20,1.675238e+11,148201198,201706
201707,20170731,sh000001,3252.75,3276.95,3251.19,3273.03,2.535259e+11,246039440,201707
201708,20170830,sh000001,3361.82,3376.65,3357.08,3363.63,2.796408e+11,246863312,201708
201709,20170914,sh000001,3383.47,3391.64,3361.33,3371.43,2.567444e+11,221306487,201709
201710,20171027,sh000001,3404.50,3421.10,3402.11,3416.81,2.123772e+11,170257173,201710
201711,20171114,sh000001,3446.55,3450.50,3419.69,3429.55,2.674354e+11,196472674,201711
201712,20171201,sh000001,3315.11,3324.52,3302.44,3317.62,1.774903e+11,139198300,201712
201801,20180129,sh000001,3563.64,3587.03,3510.27,3523.00,2.854170e+11,236026965,201801
201802,20180201,sh000001,3478.67,3495.09,3424.42,3446.98,2.928823e+11,260504707,201802
201803,20180313,sh000001,3324.12,3333.88,3307.38,3310.24,2.023751e+11,177114353,201803
201804,20180411,sh000001,3197.37,3220.85,3191.59,3208.08,2.114204e+11,175867197,201804
201805,20180521,sh000001,3206.18,3219.74,3203.34,3213.84,2.026635e+11,164459413,201805
201806,20180607,sh000001,3121.18,3128.72,3105.58,3109.50,1.671743e+11,127784970,201806
201807,20180726,sh000001,2905.79,2915.30,2875.70,2882.23,1.574967e+11,168428202,201807
201808,20180801,sh000001,2882.51,2897.40,2823.93,2824.53,1.516929e+11,149514348,201808
201809,20180926,sh000001,2785.32,2827.34,2783.34,2806.81,1.450588e+11,139567706,201809
201810,20181008,sh000001,2768.21,2771.94,2710.18,2716.51,1.415315e+11,149501388,201810
201811,20181119,sh000001,2681.90,2703.51,2674.18,2703.51,1.965627e+11,231662827,201811
201812,20181204,sh000001,2651.56,2666.08,2644.90,2665.96,1.441434e+11,167940558,201812
201901,20190128,sh000001,2615.71,2630.32,2591.10,2596.98,1.274656e+11,146981765,201901
201902,20190227,sh000001,2939.93,2997.49,2924.64,2953.82,4.118376e+11,474976453,201902
201903,20190307,sh000001,3103.67,3129.94,3074.98,3106.42,5.257252e+11,583817065,201903
201904,20190408,sh000001,3271.27,3288.45,3210.52,3244.81,5.064312e+11,504518403,201904
201905,20190506,sh000001,2984.73,2986.54,2876.47,2906.46,3.143365e+11,326972269,201905
201906,20190611,sh000001,2854.07,2927.43,2854.07,2925.72,2.544800e+11,260525796,201906

In [24]:
for x in dfmax.index:
  print(df.loc[x[1]])

code      sh000001
open        126.56
high        127.61
low         126.48
close       127.61
amount       60000
vol             78
mon         199012
Name: 19901231, dtype: object
code       sh000001
open         134.11
high         135.19
low          134.11
close        134.67
amount    6.883e+06
vol           12530
mon          199101
Name: 19910114, dtype: object
code       sh000001
open         134.85
high         134.87
low          134.28
close        134.87
amount    2.003e+06
vol            3427
mon          199102
Name: 19910222, dtype: object
code       sh000001
open         132.53
high         132.53
low          132.47
close        132.53
amount    3.777e+06
vol            7124
mon          199103
Name: 19910301, dtype: object
code       sh000001
open          122.2
high          122.2
low          121.24
close        121.72
amount    5.045e+06
vol           10517
mon          199104
Name: 19910404, dtype: object
code      sh000001
open        114.83
high        114.83
low         113.84
close       114.83
amount    1.47e+06
vol           1211
mon         199105
Name: 19910531, dtype: object
code       sh000001
open         137.41
high         137.56
low          136.19
close        137.56
amount    3.032e+06
vol            4935
mon          199106
Name: 19910628, dtype: object
code       sh000001
open         143.72
high          143.8
low          142.39
close         143.8
amount    1.993e+06
vol            4051
mon          199107
Name: 19910731, dtype: object
code       sh000001
open          178.2
high         178.43
low          176.66
close        178.43
amount    4.219e+06
vol            6759
mon          199108
Name: 19910830, dtype: object
code        sh000001
open          191.16
high          191.18
low           188.28
close         188.65
amount    1.8623e+07
vol            28829
mon           199109
Name: 19910917, dtype: object
code       sh000001
open         218.59
high          218.6
low          216.43
close         218.6
amount    2.914e+06
vol            3929
mon          199110
Name: 19911031, dtype: object
code        sh000001
open          259.68
high          259.85
low           257.35
close          259.6
amount    2.8453e+07
vol            33695
mon           199111
Name: 19911129, dtype: object
code      sh000001
open        292.48
high        292.75
low         291.71
close       292.75
amount      858000
vol            584
mon         199112
Name: 19911231, dtype: object
code      sh000001
open        313.24
high        313.24
low         312.73
close       313.24
amount      586000
vol            354
mon         199201
Name: 19920131, dtype: object
code        sh000001
open          364.15
high          364.67
low           362.45
close         364.66
amount    2.6401e+07
vol             9862
mon           199202
Name: 19920228, dtype: object
code        sh000001
open          381.87
high          382.06
low           381.24
close         381.24
amount    5.3853e+07
vol            17391
mon           199203
Name: 19920331, dtype: object
code        sh000001
open          435.73
high          448.94
low           433.66
close         445.38
amount    5.2587e+07
vol            45704
mon           199204
Name: 19920430, dtype: object
code         sh000001
open          1332.39
high          1429.01
low              1291
close         1301.35
amount    1.49448e+08
vol             68128
mon            199205
Name: 19920526, dtype: object
code         sh000001
open          1175.69
high          1249.58
low           1129.28
close         1183.24
amount    1.05366e+08
vol             39394
mon            199206
Name: 19920601, dtype: object
code        sh000001
open         1197.76
high         1215.24
low          1190.27
close        1201.01
amount    1.9578e+08
vol            63782
mon           199207
Name: 19920706, dtype: object
code        sh000001
open          1034.7
high         1060.36
low          1026.83
close        1031.55
amount    7.3754e+07
vol            60103
mon           199208
Name: 19920803, dtype: object
code        sh000001
open          826.96
high          832.84
low           807.37
close         824.96
amount    8.7529e+07
vol            78694
mon           199209
Name: 19920901, dtype: object
code        sh000001
open          687.45
high          713.77
low           661.99
close         690.57
amount    1.4966e+08
vol           110752
mon           199210
Name: 19921012, dtype: object
code         sh000001
open           674.74
high           752.32
low            562.01
close          562.01
amount    4.51184e+08
vol            387633
mon            199211
Name: 19921126, dtype: object
code         sh000001
open           833.23
high           841.02
low            807.02
close          807.02
amount    4.61615e+08
vol            305753
mon            199212
Name: 19921204, dtype: object
code         sh000001
open          1156.84
high          1198.48
low           1140.24
close         1198.48
amount    8.15954e+08
vol            520097
mon            199301
Name: 19930129, dtype: object
code         sh000001
open          1555.15
high          1558.95
low           1504.36
close         1513.48
amount    1.21862e+09
vol            493707
mon            199302
Name: 19930216, dtype: object
code         sh000001
open          1328.22
high           1339.1
low           1199.73
close         1199.73
amount    8.91107e+08
vol            425901
mon            199303
Name: 19930301, dtype: object
code         sh000001
open          1377.04
high          1392.62
low           1348.38
close         1349.68
amount    1.04287e+09
vol            502554
mon            199304
Name: 19930429, dtype: object
code         sh000001
open          1365.15
high           1380.5
low           1349.98
close         1352.24
amount    1.21164e+09
vol            595189
mon            199305
Name: 19930503, dtype: object
code         sh000001
open          1102.08
high          1177.91
low            961.32
close         1018.29
amount    2.17569e+09
vol           1103748
mon            199306
Name: 19930603, dtype: object
code         sh000001
open           1000.8
high          1009.89
low            980.05
close          997.53
amount    6.36201e+08
vol            399043
mon            199307
Name: 19930701, dtype: object
code         sh000001
open          1042.42
high          1042.47
low            973.48
close          974.11
amount    2.11217e+09
vol           1542719
mon            199308
Name: 19930817, dtype: object
code         sh000001
open           940.46
high           947.53
low            933.74
close          947.53
amount    6.55361e+08
vol            497809
mon            199309
Name: 19930906, dtype: object
code         sh000001
open              887
high            934.4
low            880.99
close          887.62
amount    3.40887e+09
vol           1618615
mon            199310
Name: 19931007, dtype: object
code         sh000001
open           986.69
high          1011.76
low            963.46
close          965.39
amount    2.80376e+09
vol           1918993
mon            199311
Name: 19931126, dtype: object
code         sh000001
open          1044.85
high          1044.85
low           1004.02
close         1009.67
amount    3.40676e+09
vol           2223643
mon            199312
Name: 19931208, dtype: object
code        sh000001
open          903.54
high          907.09
low              884
close         891.79
amount    1.5909e+09
vol          1368500
mon           199401
Name: 19940111, dtype: object
code         sh000001
open           813.95
high           818.57
low            779.09
close          779.91
amount    1.19315e+09
vol           1149078
mon            199402
Name: 19940214, dtype: object
code         sh000001
open           805.41
high           807.52
low            772.09
close          776.04
amount    3.47203e+09
vol           3455372
mon            199403
Name: 19940317, dtype: object
code         sh000001
open           704.93
high           705.41
low            691.86
close          698.84
amount    1.42489e+09
vol           1654987
mon            199404
Name: 19940401, dtype: object
code         sh000001
open           615.81
high           620.94
low            610.38
close          619.58
amount    1.90935e+09
vol           2380003
mon            199405
Name: 19940504, dtype: object
code         sh000001
open           554.08
high            556.9
low            543.88
close          545.05
amount    5.95499e+08
vol           2250024
mon            199406
Name: 19940601, dtype: object
code         sh000001
open           469.27
high           469.43
low            457.51
close          458.37
amount    3.09436e+08
vol            528995
mon            199407
Name: 19940701, dtype: object
code         sh000001
open           771.33
high           787.22
low            761.93
close          785.33
amount    9.43855e+09
vol          10734819
mon            199408
Name: 19940831, dtype: object
code        sh000001
open         1036.84
high         1052.94
low           1025.1
close        1033.47
amount    1.1399e+10
vol         10204500
mon           199409
Name: 19940913, dtype: object
code         sh000001
open           794.57
high           794.85
low            744.52
close          744.52
amount    5.35579e+09
vol           5659518
mon            199410
Name: 19941025, dtype: object
code         sh000001
open              738
high           743.22
low            710.01
close          711.68
amount    3.03284e+09
vol           2914388
mon            199411
Name: 19941110, dtype: object
code         sh000001
open           675.94
high           695.22
low            675.91
close          677.84
amount    3.27707e+09
vol           3023717
mon            199412
Name: 19941223, dtype: object
code         sh000001
open            656.2
high           657.45
low            645.81
close          646.89
amount    3.01533e+08
vol            430123
mon            199501
Name: 19950105, dtype: object
code         sh000001
open           583.43
high           608.58
low             573.4
close          589.12
amount    1.35156e+09
vol           1922892
mon            199502
Name: 19950223, dtype: object
code         sh000001
open           629.93
high           648.04
low            627.23
close          646.92
amount    1.20077e+09
vol           1265963
mon            199503
Name: 19950331, dtype: object
code         sh000001
open           678.74
high           681.15
low            665.11
close          667.39
amount    1.44507e+09
vol           2646181
mon            199504
Name: 19950410, dtype: object
code         sh000001
open           919.75
high           926.41
low            870.79
close          897.42
amount    1.14303e+10
vol          12070917
mon            199505
Name: 19950522, dtype: object
code         sh000001
open           710.82
high            722.3
low             710.5
close          716.82
amount    1.13208e+09
vol           1453289
mon            199506
Name: 19950602, dtype: object
code         sh000001
open           717.47
high           723.68
low            688.93
close          690.98
amount    2.98492e+09
vol           6698345
mon            199507
Name: 19950719, dtype: object
code         sh000001
open           759.12
high           788.16
low            752.98
close          776.13
amount    6.48854e+09
vol          11835225
mon            199508
Name: 19950814, dtype: object
code         sh000001
open           791.36
high           792.54
low            760.76
close          763.69
amount    2.56308e+09
vol           4611117
mon            199509
Name: 19950912, dtype: object
code         sh000001
open           765.21
high           765.48
low            740.74
close          760.41
amount    4.64984e+09
vol           8046441
mon            199510
Name: 19951025, dtype: object
code         sh000001
open            736.9
high           736.91
low            728.05
close          729.69
amount    1.19625e+09
vol           2034498
mon            199511
Name: 19951107, dtype: object
code         sh000001
open           631.95
high           643.36
low            631.84
close          636.78
amount    8.87022e+08
vol           1458221
mon            199512
Name: 19951208, dtype: object
code         sh000001
open           559.03
high           561.36
low            536.12
close          536.37
amount    5.97185e+08
vol           1386371
mon            199601
Name: 19960105, dtype: object
code         sh000001
open           537.13
high           553.83
low            537.13
close          552.94
amount    9.29204e+08
vol           1870610
mon            199602
Name: 19960216, dtype: object
code         sh000001
open           600.46
high           606.51
low            582.73
close          587.06
amount    2.20069e+09
vol           4289672
mon            199603
Name: 19960305, dtype: object
code         sh000001
open            719.2
high            739.1
low            710.19
close          738.61
amount    7.02233e+09
vol          10352720
mon            199604
Name: 19960429, dtype: object
code         sh000001
open           719.19
high           724.97
low            699.65
close          703.08
amount    4.58392e+09
vol           6628097
mon            199605
Name: 19960520, dtype: object
code         sh000001
open            811.5
high           819.68
low            801.36
close          806.46
amount    5.06287e+09
vol           5731744
mon            199606
Name: 19960627, dtype: object
code         sh000001
open           874.97
high           894.72
low            874.97
close          887.59
amount    6.47713e+09
vol           7767470
mon            199607
Name: 19960724, dtype: object
code         sh000001
open           880.13
high           894.85
low            880.13
close          886.04
amount    4.09401e+09
vol           5292406
mon            199608
Name: 19960812, dtype: object
code       sh000001
open         861.62
high         875.52
low          855.75
close        875.52
amount    6.678e+09
vol         6779711
mon          199609
Name: 19960927, dtype: object
code         sh000001
open          1032.61
high          1038.81
low           1013.49
close         1017.51
amount    9.33618e+09
vol          10547581
mon            199610
Name: 19961029, dtype: object
code         sh000001
open          1019.61
high          1047.39
low           1008.23
close         1015.95
amount    1.08362e+10
vol          12890007
mon            199611
Name: 19961119, dtype: object
code         sh000001
open          1225.38
high          1258.68
low            1220.4
close          1244.9
amount    1.45347e+10
vol          12680276
mon            199612
Name: 19961211, dtype: object
code         sh000001
open           960.25
high           967.89
low            960.07
close          964.74
amount    3.66624e+09
vol           4088016
mon            199701
Name: 19970131, dtype: object
code         sh000001
open          1023.36
high          1040.17
low           1010.26
close         1040.02
amount    6.16977e+09
vol           6687322
mon            199702
Name: 19970228, dtype: object
code         sh000001
open          1210.01
high          1234.95
low              1210
close         1234.61
amount    9.15551e+09
vol           8505750
mon            199703
Name: 19970331, dtype: object
code         sh000001
open           1385.3
high          1396.48
low           1376.45
close         1393.74
amount    1.05137e+10
vol           8331599
mon            199704
Name: 19970430, dtype: object
code         sh000001
open          1490.78
high          1510.17
low           1486.44
close         1500.39
amount    1.67378e+10
vol          13162879
mon            199705
Name: 19970512, dtype: object
code         sh000001
open          1362.18
high          1369.51
low           1346.96
close         1360.23
amount    9.29456e+09
vol           6025594
mon            199706
Name: 19970605, dtype: object
code         sh000001
open           1255.9
high          1261.57
low           1147.33
close         1199.06
amount    5.69045e+09
vol           3923861
mon            199707
Name: 19970702, dtype: object
code         sh000001
open          1214.31
high          1223.07
low           1209.47
close         1221.06
amount    6.34053e+09
vol           7318643
mon            199708
Name: 19970829, dtype: object
code         sh000001
open          1260.51
high          1264.48
low           1236.11
close         1242.71
amount    5.99859e+09
vol           7133641
mon            199709
Name: 19970911, dtype: object
code         sh000001
open          1239.58
high          1241.83
low           1172.89
close         1177.92
amount    5.62245e+09
vol           5277207
mon            199710
Name: 19971028, dtype: object
code         sh000001
open          1210.67
high          1213.22
low           1190.43
close         1191.33
amount    2.72462e+09
vol           2761906
mon            199711
Name: 19971117, dtype: object
code         sh000001
open          1196.29
high          1198.97
low           1185.65
close          1186.6
amount    3.93117e+09
vol           3714098
mon            199712
Name: 19971229, dtype: object
code         sh000001
open          1243.12
high             1250
low           1235.88
close         1237.16
amount    4.56288e+09
vol           4096862
mon            199801
Name: 19980108, dtype: object
code         sh000001
open          1257.99
high          1262.62
low           1244.42
close         1248.04
amount    4.67822e+09
vol           4378577
mon            199802
Name: 19980209, dtype: object
code         sh000001
open          1251.34
high          1252.24
low           1238.64
close         1243.01
amount    6.42904e+09
vol           6118814
mon            199803
Name: 19980331, dtype: object
code         sh000001
open          1336.01
high          1343.46
low           1335.54
close         1343.44
amount    7.52055e+09
vol           8903934
mon            199804
Name: 19980430, dtype: object
code         sh000001
open          1402.67
high          1411.34
low           1402.01
close          1411.2
amount    9.58686e+09
vol           9529063
mon            199805
Name: 19980529, dtype: object
code         sh000001
open          1420.98
high          1422.97
low           1402.74
close          1406.3
amount    7.39679e+09
vol           7656561
mon            199806
Name: 19980604, dtype: object
code         sh000001
open          1363.26
high          1367.14
low           1315.18
close         1316.44
amount    4.94223e+09
vol           5559218
mon            199807
Name: 19980701, dtype: object
code         sh000001
open          1315.13
high          1315.47
low           1301.26
close         1301.67
amount    3.07442e+09
vol           4215979
mon            199808
Name: 19980803, dtype: object
code         sh000001
open          1257.37
high          1264.39
low           1226.72
close          1233.7
amount    1.00785e+10
vol          11202741
mon            199809
Name: 19980917, dtype: object
code         sh000001
open          1259.14
high          1263.71
low           1249.93
close         1251.52
amount    6.40056e+09
vol           7032115
mon            199810
Name: 19981016, dtype: object
code         sh000001
open          1296.62
high          1300.15
low           1285.02
close         1290.59
amount    5.74612e+09
vol           5663035
mon            199811
Name: 19981117, dtype: object
code        sh000001
open            1249
high         1251.86
low          1231.99
close        1234.35
amount    3.3414e+09
vol          3889073
mon           199812
Name: 19981201, dtype: object
code         sh000001
open          1169.91
high          1174.42
low           1158.54
close         1172.81
amount    3.19723e+09
vol           3969268
mon            199901
Name: 19990111, dtype: object
code         sh000001
open          1131.65
high          1131.66
low           1118.54
close         1120.53
amount    3.09643e+09